@{
    Layout = "_Layout";
    var pageTitle = ViewData["Title"] ?? "Home Page";
}



    <div class="container mt-4">
        <h1 class="display-4">@pageTitle</h1>
        <p class="lead">Welcome to the @pageTitle</p>
    </div>

